body {
  font-family: "Domine", serif;
}
.orange-color {
  color: orange;
}
section {
  display: flex;
}
#border {
  border-left: 3px solid;
  border-color: brown;
}
.mission {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-block-end: 20px;
  padding-left: 5%;
}
.mission img {
  width: 80%;
}
.background {
  background-image: url(images/shape-1.png);
  background-repeat: no-repeat;
  background-size: 300px;
}
.background0 {
  background-image: url(images/shape-1.png);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: right;
}
.background1 {
  background-image: url(images/shape-3.png);
  background-repeat: no-repeat;
  backface-visibility: visible;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, yellow);
  padding: 10px 30px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.more-buttone {
  text-decoration: none;
  background-image: radial-gradient(red, yellow);
  padding: 10px 40px;
  color: whitesmoke;
  font-weight: 700;
  border-radius: 10px;
}
.journey {
  text-align: center;
}
span {
  color: orange;
}
.my-mission1 {
  width: 50%;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: cyan;
}
.box-style {
  margin-left: 15px;
  margin-right: 15px;
  margin-block-end: 20px;
}
.my-mission1 img {
  width: 80%;
}
.my-mission2 {
  width: 50%;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: yellowgreen;
}
.my-mission2 img {
  width: 80%;
}
.my-mission3 {
  width: 50%;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: salmon;
}
.my-mission3 img {
  width: 80%;
}
#footering {
  font-family: "Playball", cursive;
}
footer {
  text-align: center;
  background-color: rgb(26, 17, 6);
  color: white;
}
