*{
  margin: 0 auto;
  padding: 0;
}


/*---------banner-----------*/

.banner {
  color: white;
  text-align: center;
  width: 1300px;
  height: 600px;
  border-radius: 17px;
  margin-top: 10px;
  background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0)),
  url('../images/Banner Image.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.discount{
  margin: 120px auto ;
  width: 1600px;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discount{
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-weight: 500px;

}
.discount-section p {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.discount-section h3 {
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.discount-section img {
  width: 802.9px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 50px;
}